In [13]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [14]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [16]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [18]:
df

             A         B
G1 1  0.556372  0.758129
   2 -0.848049 -0.562714
   3  1.448558  0.933597
G2 1 -0.720582 -1.079006
   2  1.127562 -0.446116
   3  1.592636  1.010381

In [23]:
df.loc['G1']

          A         B
1  0.556372  0.758129
2 -0.848049 -0.562714
3  1.448558  0.933597

In [24]:
df.index.names

FrozenList([None, None])

In [25]:
df.index.names=['Groups','Num']

In [26]:
df

                   A         B
Groups Num
G1     1    0.556372  0.758129
       2   -0.848049 -0.562714
       3    1.448558  0.933597
G2     1   -0.720582 -1.079006
       2    1.127562 -0.446116
       3    1.592636  1.010381

In [29]:
df.loc['G2'].loc[2].loc['B']

-0.4461159922684402

In [33]:
df.xs('G1')#=df.loc['G1']

            A         B
Num
1    0.556372  0.758129
2   -0.848049 -0.562714
3    1.448558  0.933597

In [34]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.556372  0.758129
G2     -0.720582 -1.079006